body {
  background-color: #6495ed;
}
h1{
  text-align: center;
}

.change{
  margin-top: 200px;
  margin-left: 400px;
}
form textarea{
  display:inline-block;
}

form input{
  display: block;
}

form input:hover {
    background: #ff9;
}
